html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.damage {
	position: absolute;
	color: white;
	font-size: 1.3em;
	top: 30%;
}

.health {
	position: absolute;
	color: white;
	font-size: 0.8em;
	top: 22%;
}

.ninmy {
	width:255px;
	height:255px;
	border:0px;
	background-image: "/images/ninmy_normal.png";
	background-size: 100%;
}

.blood {
	width:255px;
	height:255px;
	border:0px;
	background-image: "/images/null.png";
	background-size: 100%;
}

.win {
	color: green;
	position: absolute;
	font-size: 1.3em;
	top: 30%;
	display: none;
}

#vid-1 {
	position: absolute;
	left: 5%;
	display: none;
}

#vid-2 {
	position: absolute;
	right: 5%;
	display: none;
}

.health-bar {
	width: 300px;
	height: 11px;
	background-color: #eee;
	top: 28%;
}

.damage_bar {
	width: 300px;
	height: 8px;
	background-color: #eee;
	top: 25%;
}

.current-health {
	width: 300px;
	height: 11px;
	background-color: red;
	top: 28%;
}

.damage-bar {
	width: 300px;
	height: 8px;
	background-color: orange;
	top: 25%;
}

#berkay {
	user-select: none;
}

@keyframes damage_fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
