html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.damage {
	position: absolute;
	color: white;
	font-size: 1.3em;
	top: 30%;
}

.health {
	position: absolute;
	color: white;
	font-size: 0.8em;
	top: 10%;
}

.win {
	color: green;
	position: absolute;
	font-size: 1.3em;
	top: 30%;
	display: none;
}

#vid-1 {
	position: absolute;
	left: 5%;
	display: none;
}

#vid-2 {
	position: absolute;
	right: 5%;
	display: none;
}

.health-bar {
	width: 3000px;
	height: 9px;
	background-color: #eee;
}

.damage_bar {
	width: 100px;
	height: 8px;
	background-color: #eee;
}

.current-health {
	width: 3000px;
	height: 9px;
	background-color: red;
}

.damage-bar {
	width: 100px;
	height: 8px;
	background-color: orange;
}

#berkay {
	user-select: none;
}

@keyframes damage_fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
