html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.bgImage {
	background-image: "";
	width: 64;
	height: 64;
}

.bg {
	position: absolute;
}

.bg img {
	z-index: 1;
	opacity: 0.25;
}

.select_background {
	opacity: 0.4;
	z-index: 6;
}

.button {
	background-color: #202020; /* Grey & Black */
	border: none;
	color: white;
	padding: 3px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	z-index: 5;
}

.damage {
	position: absolute;
	color: white;
	font-size: 1.3em;
	top: 30%;
}

.health {
	position: absolute;
	color: white;
	font-size: 0.58em;
	top: 1%;
}

.name {
	position: absolute;
	color: white;
	font-size: 0.58em;
	left: 3%;
	top: 1%;
}

.timer {
	position: absolute;
	color: orange;
	font-size: 0.8em;
	top: 4%;
}

.health-bar {
	width: 300px;
	height: 5px;
	background-color: #eee;
}

.current-health {
	width: 300px;
	height: 5px;
	background-color: red;
}

.energy-bar {
	width: 300px;
	height: 5px;
	background-color: #eee;
}

.current-energy {
	width: 0px;
	height: 5px;
	background-color: green;
}

.damage_bar {
	width: 300px;
	height: 5px;
	background-color: #eee;
}

.damage-bar {
	width: 0px;
	height: 5px;
	background-color: orange;
}

.ninmy {
	background: url("https://raw.githubusercontent.com/qberkdc/anime/master/images/ninmy_normal.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
	z-index: 2;
}

.blood {
	background: url("https://raw.githubusercontent.com/qberkdc/anime/master/images/null.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 256px;
	height: 256px;
	z-index: 3;
}

.win {
	color: green;
	position: absolute;
	font-size: 1.3em;
	top: 30%;
	display: none;
}

#vid-1 {
	position: absolute;
	left: 5%;
	display: none;
}

#vid-2 {
	position: absolute;
	right: 5%;
	display: none;
}

#berkay {
	user-select: none;
}

@keyframes damage_fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
