html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.damage {
	position: absolute;
	color: white;
	font-size: 1.3em;
	top: 30%;
}

.health {
	position: absolute;
	color: white;
	font-size: 0.7em;
	top: 25%;
}

.name {
	position: absolute;
	color: white;
	font-size: 0.7em;
	left: 4%;
	top: 2%;
}

.timer {
	position: absolute;
	color: orange;
	font-size: 0.7em;
	top: 21%;
}

.health-bar {
	width: 300px;
	height: 5px;
	background-color: #eee;
}

.current-health {
	width: 300px;
	height: 5px;
	background-color: red;
}

.energy-bar {
	width: 300px;
	height: 5px;
	background-color: #eee;
}

.current-energy {
	width: 0px;
	height: 5px;
	background-color: green;
}

.damage_bar {
	width: 300px;
	height: 5px;
	background-color: #eee;
}

.damage-bar {
	width: 0px;
	height: 5px;
	background-color: orange;
}

.ninmy {
	background: url("https://raw.githubusercontent.com/qberkdc/anime/master/images/ninmy_normal.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 300px;
	height: 300px;
	z-index: 1;
}

.blood {
	background: url("https://raw.githubusercontent.com/qberkdc/anime/master/images/null.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 256px;
	height: 256px;
	z-index: 2;
}

.win {
	color: green;
	position: absolute;
	font-size: 1.3em;
	top: 30%;
	display: none;
}

#vid-1 {
	position: absolute;
	left: 5%;
	display: none;
}

#vid-2 {
	position: absolute;
	right: 5%;
	display: none;
}

#berkay {
	user-select: none;
}

@keyframes damage_fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
