html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.damage {
	position: absolute;
	color: gray;
	font-size: 2.5em;
	top: 5%;
}

.win {
	color: green;
	position: absolute;
	font-size: 3.5em;
	top: 14%;
	display: none;
}

#vid-1 {
	position: absolute;
	left: 5%;
	display: none;
}

#vid-2 {
	position: absolute;
	right: 5%;
	display: none;
}

.health-bar {
	width: 500px;
	height: 35px;
	background-color: #eee;
}

.current-health {
	width: 100%;
	height: 100%;
	background-color: red;
}

#berkay {
	user-select: none;
}

@keyframes damage_fade {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}